.container1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container1 h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container1 form label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: 500;
}

.container1 form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container1 form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container1 form button:hover {
    background-color: #0056b3;
}

.container1 p {
    margin-top: 5px;
    text-align: center;
}

.container1 p a {
    color: #007bff;
    text-decoration: none;
}

.container1 p a:hover {
    text-decoration: underline;
}
